<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite" parallel="methods" thread-count="2">
    <test name="LoginTest" >
    </test>
    <test verbose="2" preserve-order="true" name="D:/Sweta/TestEcommerce">
    <classes>
        <class name="com.qatest.HomeTest">
            <methods><include name="homepage"/>
            </methods>
        </class>
    </classes>
</test></suite>